<body>
  <blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem eligendi
      fugiat tempore voluptatem minima esse cumque placeat veniam molestias
      quisquam distinctio eius, reiciendis ipsam necessitatibus! Quae aperiam
      ipsum at laboriosam quasi quidem minima, expedita nemo illum, perspiciatis
      dolores dolor facere pariatur eius cupiditate voluptatem. Assumenda
      laboriosam iusto sit neque ducimus.
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primmary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">ABC Company</p>
        </div>
      </div>
    </footer>
  </blockquote>
</body>
